@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
@import './Fonts/fonts.css';
@import './animations/animations.css';

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'Manrope', 'Orbitron',  -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
        "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif,
        "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

path {
    stroke: currentColor;
}
.customersBorderGradient {
  background-image:  linear-gradient(0deg, rgba(7, 7, 21, 0.9), rgba(7, 7, 21, 0.9)), linear-gradient(180deg, #0C0C1E 0%, #221546 100%);
  border: double 1px transparent;
  background-origin: border-box;
  background-clip: content-box, border-box;
}