.react-select__indicator-separator {
  display: none !important;
}

.react-select__indicator {
  padding: 0 !important;
}

.react-select__value-container {
  padding: 0 !important;
}

.modalAnim {
animation: slide-down 300ms ease-out forwards;
}

@keyframes scaleIn {
  0% {
      opacity: 0;
      transform: scale(0.9);
  }

  50% {
      opacity: 0.3;
  }

  100% {
      opacity: 1;
      transform: scale(1);
  }
}
.animation {
  width: 0px;
  overflow: hidden;
  transition: width 0.3s ease;
}

.buttonAnim:hover .animation {
  width: 100%;
  transition: width 1.1s ease-out;
}

.buttonAnim:hover .iconStyles {
  padding-left: 16px;
} 

.iconStyles{
  padding-left: 0px;
} 


.buttonAnim {
  width: 48px;
  display: inline-flex;
  transition: width 0.3s ease;
  padding: 8px;
}

.buttonAnims:hover {
  width: 100%;
  transition: width 0.7s ease;
  padding-left: 24px;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-3rem);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
