@font-face {
    font-family: 'Orbitron';
    font-weight: 700;
    font-style: normal;
    src: local('Orbitron'), url(Orbitron-Bold.woff);
}

@font-face {
    font-family: 'Orbitron';
    font-weight: 600;
    font-style: normal;
    src: local('Orbitron'), url(Orbitron-SemiBold.woff);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    font-style: normal;
    src: local('Manrope'), url(Manrope-Bold.woff);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 600;
    font-style: normal;
    src: local('Manrope'), url(Manrope-Medium.woff);
}

@font-face {
    font-family: 'Manrope';
    font-weight: 500;
    font-style: normal;
    src: local('Manrope'), url(Manrope-Medium.woff);
}